.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar-title{
  font-size: 20px;
  color: rgb(255, 255, 255)
}

.item-bar{
  width: 25px;
  /* background-color: rgb(76, 186, 255); */
}

.item-value{
  font-size: 10px;
}

.item-bar:hover{
  background-color: #2bdff3;
}


.neon-div {
  background-color: #ffffff;
  box-shadow:
    0 0 2px 0px #fff,  /* inner white */
    0 0 4px 0px rgb(0, 208, 255), /* middle magenta */
    0 0 6px 0px #0ff; /* outer cyan */
}

.neon-div-correct {
  background-color: #ffffff;
  box-shadow:
    0 0 2px 0px #fff,  /* inner white */
    0 0 4px 0px rgb(0, 208, 255), /* middle magenta */
    0 0 6px 0px #0ff; /* outer cyan */
}

.neon-div-wrong {
  background-color: #ffffff;
  box-shadow:
    0 0 2px 0px #fff,  /* inner white */
    0 0 4px 0px rgb(0, 208, 255), /* middle magenta */
    0 0 6px 0px #0ff; /* outer cyan */
}

